<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/a076d05399.js"></script> 

<div class="backntn">
   <a href="home" class="alert('BACK TO HOME')"><img src="/assets/backbtn6.png"></a>
 </div>
 


<div class="col-12">
   
<div class="container">
    <div class="contact-parent">
       <div class="contact-child child1">
          <p>
             <i class="fas fa-map-marker-alt"></i> Address <br />
             <span> Sangli
             <br />
             Maharashtra,India
             </span>
          </p>
          <p>
             <i class="fas fa-phone-alt"></i> Let's Talk <br />
             <span> 8899776655</span>
          </p>
          <p>
             <i class=" far fa-envelope"></i> General Support <br />
             <span>supriyagajare160@gmail.com </span>
          </p>
       </div>
       <div class="contact-child child2">
          <div class="inside-contact">
             <h2>Contact Us</h2>
             <h3>
                <span id="confirm"></span>
             </h3>
             <p>Name *</p>
             <input id="txt_name" type="text"placeholder="Name" Required="required">
             <p>Email *</p>
             <input id="txt_email" type="text" placeholder="Email"Required="required">
             <p>Phone *</p>
             <input id="txt_phone" type="text"placeholder="Phone" Required="required">
             <p>Message *</p>
             <textarea id="txt_message" rows="4" cols="20"placeholder="You can Enter Your Message" Required="required" ></textarea>
             <input type="submit" id="btn_send" value="SEND">
          </div>
       </div>
    </div>
 </div>

</div>


 <div class="col-12">
   <div class="map">
      <fieldset><br>
        <legend>Our Location :-</legend>
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d383535.5878988851!2d73.86599789806942!3d16.491679909776053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssoftware%20company%20in%20maharashtra!5e0!3m2!1sen!2sin!4v1692675890780!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">"
          width="90px"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </fieldset>
    </div>
 </div>