<div class="container" style="text-align: center;">
    <h3> View Author Details</h3>
    </div>
    
    <style>
        
        tr:hover {background-color:rgb(239, 239, 245)}
        table, th, td {
      border: 1px solid rgba(216, 141, 210, 0.603);
      border-collapse: collapse;
      font-size:large;
    }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          margin-left: auto;
        }
        th, td {
          padding: 2px;
          text-align:left;
        }
        </style>
        
    
        <body>
            <div style="background-color: rgb(175, 175, 241);">
              <table class = "table table-striped " style="padding:10px;">
                <thead>
                    <tr>
                        <th>Software Name</th>
                        <th>Developer Name </th>
                        <th> price</th>
                        <th>Rating</th>
                        <th>Software Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let software of softwares | paginate: { itemsPerPage: count, currentPage: pageNo }">
                        <td> {{ software?.softwareName }} </td>
                        <td>{{software?.developerName }}</td>
                        <td> {{software?.price}} </td>
                        <td> {{software?.rating}} </td>
                        <td> {{software?.isDesktopApplication}} </td>
                </tbody>
            </table>
            </div>