
<div class="container">
    <div class="row">
        <div class="col-4 " style="background:transparent">
            <p>
                Display featured software products with images and descriptions to capture user interest. Employ compelling call-to-action buttons that guide users towards key actions, like browsing software or creating an account. Highlight the platform's benefits and features using icons or concise descriptions and incorporate real user testimonials or reviews for added credibility. Additionally, reassure users with trust indicators, and keep them informed with the latest updates or news. 
            </p>
        </div>

<div class="col-8">
	
</div>
<div class="col-6">

</div>

<div class="col-6">
	<img src="assets/mgtf2.png" alt="img">
</div>

<div class="col-12">
	<p>
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
		  If you need more info click here!
		</button>
	  </p>
	  <div style="min-height: 50px;">
		<div class="collapse collapse-horizontal" id="collapseWidthExample">
		  <div class="card card-body" style="width: 500px;">
			Our software management system is designed to simplify the process of adding and purchasing software. Within our platform, users can explore a comprehensive catalog of software products, complete with detailed descriptions, pricing information, and compatibility specifications. To access these offerings, users can create accounts, which facilitate personalized experiences and order tracking. For software providers, our system provides a streamlined process for adding their products, ensuring that product information and pricing are transparent and readily available. Users can efficiently search for software based on categories, keywords, or filters, add desired products to their cart, and securely complete purchases using various payment methods. Additionally, our system keeps users informed with order notifications and allows them to review and rate products.
		
			<a href="about-us">

			<button class="btn btn-primary" type="button"aria-expanded="false" aria-controls="collapseWidthExample">
				Read More
			</button>
			</a>
		
		</div>
	  </div>
</div>
</div>
<!-- <div class="row"> -->
<!--     
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>

    </div>
</div> -->


	