<div class="container">
    <section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: rgba(107, 122, 160, 0.9);
        
      }
    
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background-color: rgba(28, 38, 65, 0.9);
        overflow: hidden;
      }
    
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
    
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>

<div class="col-md-6 offset-md-3" style="width: 800px;margin: 900pz;">
    <div class="container" style="text-align: center;">
    <h3> Create Developer </h3>
</div>
    
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Developer Name</label>
            <input type="text" class ="form-control" id = "developerName"
                [(ngModel)] = "developer.developerName" name = "developerName" placeholder="developer Name">
        </div>
        <div class="form-group">
            <label> Developer Email</label>
            <input type="text" class ="form-control" id = "developerEmail"
                [(ngModel)] = "developer.developerEmail" name = "developerEmail"placeholder= "developer Email">
        </div>
        <div class="form-group">
            <label> Developer Country</label>
            <input type="text" class ="form-control" id = "developerCountry"
                [(ngModel)] = "developer.developerCountry" name = "developer Country">
        </div>
        <button class = "btn btn-success" type ="submit">Submit</button>
    </form>
    </div>