


  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Software System</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
          <li class = "nav-item ">
              <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
          </li>


          <li class = "nav-item">
            <a routerLink="about-us" routerLinkActive="active" class="nav-link" >About us</a>
        </li>

        
        <li>
          <a *ngIf="!loginService.isUserLoggedIn()" routerLink="signup" class="nav-link">Sign Up</a>
          </li>
                  

      <li>
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
        </li>
                
        <!-- <li class="nav-item dropdown">
          <a  *ngIf="loginService.isUserLoggedIn()" class="nav-link dropdown-toggle"  href="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Software-Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="create-software">Add Software</a></li>
            <li><a class="dropdown-item" href="software-list">Software List</a></li>
          </ul>
        </li> -->

        <li class ="nav-item">
          <div class="btn-group">
            <!-- <button type="button" class="btn btn-secondary"style="background-color:rgb(224, 232, 245); border-color:black;border: radius 0;" >Book Services</button> -->
            <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" style="padding: 5px;margin-left:25px;border-radius: 5px;font-weight:600;color:#131212;background: rgb(224, 232, 245);" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Software Services </button>
            <div class="dropdown-menu" style="background-color:rgba(255,255,255,0.5);">
              <a routerLink="software-list" routerLinkActive="active"  class="dropdown-item"><b>Software List</b></a>
              <a routerLink="create-software" routerLinkActive="active"  class="dropdown-item"><b>Add Software</b></a>
              
            </div>
          </div>
         </li>

  <li class="nav-item">
    <div class="btn-group">
      <!-- <button type="button" class="btn btn-secondary"style="background-color:rgb(224, 232, 245); border-color:black;border: radius 0;" >Book Services</button> -->
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split" style="padding: 5px;margin-left:25px;border-radius: 5px;font-weight:600;color:#131212;background: rgb(224, 232, 245);" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Developer Services</button>
      <div class="dropdown-menu" style="background-color:rgba(255,255,255,0.5);">
        <a routerLink="developer-list" routerLinkActive="active"  class="dropdown-item"><b>Developer List</b></a>
        <a routerLink="create-developer" routerLinkActive="active"  class="dropdown-item"><b>Add Developer</b></a>
        
      </div>
    </div>
  </li>








        <li class = "nav-item">
          <a routerLink="contact-us" routerLinkActive="active" class="nav-link" >Contact us</a>
      </li>

      <li class = "nav-item ">
        <a routerLink="feedback" routerLinkActive="active" class="nav-link" >Feedback</a>
      </li>

        <li>
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
        </li>


        



          </ul>
        </div>
      </div>
    </div>
  </nav>

  <br><br>
  <img src="assets/logo1.png" alt="Logo">
  <link rel="stylesheet" href="app.component.css">
    <div class="swt">
      <!-- SOFTWARE SYSTEM -->
    </div>
    <div class = "container">
      <router-outlet></router-outlet>
    </div>
  
  
  