<head>
  <link rel="stylesheet" href="software-list.component.css">
  <!-- <link -->
  <!-- rel="stylesheet" -->
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<br>



<div class="row" style="background-color:  #ffffe6; border: 1px solid black; padding: 10px;">
  

  <div class="col-4">
      <div class="input-group mb-5" style="width: 20px">
          <li class="nav-item dropdown" style="list-style: none; margin: 5px"></li>
          <input *ngIf="selectedSearchType==='developerName' else name" type="text" class="form-control"
                 style="padding-left: 20px; border-radius: 20px; border-color: black; background-color: white; color: black"
                 placeholder="Search By Developer Name" [(ngModel)]="developerName"
                 class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"/>
          <ng-template #name>
              <input type="text" class="form-control" [(ngModel)]="softwareName"
                     placeholder="Search By Software Name" class="nav-link dropdown-toggle" href="#" role="button"
                     data-bs-toggle="dropdown"
                     style="padding-left: 20px; border-radius: 20px; border-color: black; background-color: white; color: black; padding-right: 7px;"
                     aria-expanded="false"/>
          </ng-template>
          <ul class="dropdown-menu" style="background-color: rgba(255, 255, 255, 0.5);">
              <li><a id="01" class="dropdown-item" (click)="selectedSearchType ='name'"><b> Software Name </b></a></li>
              <li><a id="01" class="dropdown-item" (click)="selectedSearchType ='developerName'"><b>Developer Name </b></a></li>
          </ul>
          <div class="input-group-append">
              <button class="btn btn-outline-primary" style="margin-left: 10px; margin-left: 208px; margin-top: -83px;"
                      type="button" (click)="search(selectedSearchType)">Search
              </button>
          </div>
      </div>
  </div>

  <div class="col-3">
      <ul type="none">
          <li class="nav-item dropdown">
              <a style="background-color: rgb(246, 251, 251); border-radius: 20px; color: black; border: 5px solid #fcfcfc; font-size: 20px; font-family: Cursive; font-weight: bold;"
                 class="nav-link dropdown-toggle" href="active" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                  Software Status
              </a>
              <ul class="dropdown-menu" style="background-color: white;">
                  <li><a class="dropdown-item hoverlink" (click)="getIsDesktopApplication()"><b>Desktop App</b></a></li>
                  <li><a class="dropdown-item" (click)="getIsWebApplication()"><b>Web App</b></a></li>
              </ul>
          </li>
      </ul>
  </div>

  <div class="col-3">
      
    <div class="dropdown" style="margin-left: 80%;margin-top: 2%;">
      <button class="dropdown-btn" aria-haspopup="menu"style="background-color:white">
        <span style="  font-size: 20px; font-family: Cursive; font-weight: bold;border-radius: 70px; "> Sort By </span>
        <span class="arrow"style="background-color:black"></span>
      </button>
      <ul class="dropdown-content" role="menu">
        <li style="--delay: 1;"><a (click)="sortBy('costHigh')" class="dropdown-item"style="background-color:white"><b>Cost High to Low</b></a></li>
        <li style="--delay: 2;"><a (click)="sortBy('costLow')" class="dropdown-item"style="background-color:white"><b>Cost Low to High</b></a></li>
        <li style="--delay: 3;"><a (click)="sortBy('ratingLow')" class="dropdown-item"style="background-color:white"><b>Rating Low to High</b></a></li>
        <li style="--delay: 4;"><a (click)="sortBy('ratingHigh')" class="dropdown-item"style="background-color:white"><b>Rating High to Low</b></a></li>
      </ul>
    </div>
  </div>
</div>


  <!--<div class="col-3">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <div class="row">
          <div class="col-md-8">
            <div class="input-group mb-3">
              <div class="input-group-append">
              <li class="nav-item dropdown" style=" list-style-type: none;"></li>
              <input *ngIf="selectedSearchType === 'developer' else rname" type="text" class="form-control" 
              [(ngModel)]="developer" placeholder="Search by Developer Name" 
              class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" 
              style="background-color: transparent; color: black; border:3px solid gainsboro;" />

              <ng-template #rname>
                <input type="text" class="form-control" [(ngModel)]="softwareName" placeholder="Search" 
                class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" 
                style="background-color: transparent; color: black; border:3px solid gainsboro;" />
              </ng-template>
              
              <ul class="dropdown-menu">
                <li><a id="01" class="dropdown-item" (click)="selectedSearchType = 'developer'"><b>Software Developer Name</b></a></li>
                <li><a id="02" class="dropdown-item" (click)="selectedSearchType = 'name'"><b>Software Name</b></a></li>
              </ul>
              
              
                <button class="btn btn-outline-secondary" type="button" (click)="search(selectedSearchType)" style="color: azure;">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
</div>
    </div>

</div>
-->




<!-- <div class="col-6">
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Software Name"
          [(ngModel)]="softwareName"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchBySoftwareName()"style="background-color: #4d0033;color:white" 
          >
            SoftwareName
          </button>
        </div>
      </div>
    </div>
  
</div>


<div class=" list row">
  <div class="col-md-8 ">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Developer Name"
        [(ngModel)]="developer"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary name"
          type="button"
          (click)="searchByDeveloperName()"style="background-color: #4d0033;color:white"
        >
          Developer Name
        </button>
      </div>
    </div>
  </div>

</div>
</div> -->

  <!-- <button class="btn btn-outline-secondary btnApp" type="button" (click)="getIsDesktopApplication()" style="margin-left:60px;color:#EEE2DC;
  font-size:17px;font-weight: 200;width: 130px;height: 70px;background-color:  #800033;border-radius: 20%;  font-weight: bold;border: 5px solid rgb(28, 25, 25);
  ">Desktop App</button>

    <button class="btn btn-outline-secondary" type="button" (click)="getIsWebApplication()"
    style="color:#EEE2DC;font-size:17px;font-weight: 200;width: 130px;height: 70px;border-radius: 20%;background-color: #6600ff;  font-weight: bold;border: 5px solid rgb(28, 25, 25);
    ">Web App </button> -->












  
<!-- 
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <div class="row">
          <div class="col-md-8">
            <div class="input-group mb-3">
              <li class="nav-item dropdown"></li>
              
              <ng-container *ngIf="selectedSearchType === 'developer'; else softwareName">
                <input type="text" class="form-control" [(ngModel)]="developer" placeholder="Search by Developer Name" />
              </ng-container>
              
              <ng-template #softwareName>
                <input type="text" class="form-control" [(ngModel)]="searchSoftwareName" placeholder="Search" />
              </ng-template>
              
              <ul class="dropdown-menu">
                <li><a id="01" class="dropdown-item" (click)="selectedSearchType = 'name'"><b>Software Name</b></a></li>
                <li><a id="02" class="dropdown-item" (click)="selectedSearchType = 'developer'"><b>Developers Name</b></a></li>
              </ul>
              
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="search(selectedSearchType)" style="color: azure;">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  





  
















  <div class="col-2">
    <div class="backntn">
        <a href="home" class="alert('BACK TO HOME')"><img src="/assets/backbtn6.png"></a>
    </div>
  </div>


<br>

<div class="col-12">
<table class = "table table-striped table-hover ">
    <thead class="thead-dark"style="background-color:black ;  font-weight: bold;height: 50px; font-family:Cursive; font-size: 20px;   ">
        <tr>
            <th style="background-color:black ;color:white"> Software Name</th>
            <th style="background-color:black ;color:white"> Developer</th>
            <th style="background-color:black ;color:white"> Price </th>
            <th style="background-color:black ;color:white"> Rating </th>
            <th style="background-color:black ;color:white"> DesktopApplication </th>
            <th style="background-color:black ;color:white"> Actions </th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor = "let softwareFor of softwares  | paginate: { itemsPerPage: count, currentPage: pageNo }" >
          <td> {{ softwareFor.softwareName }} </td>
            <td> {{ softwareFor.developerName }} </td>
            <td> {{ softwareFor.price }} </td>
            <td> {{ softwareFor.rating }} </td>
            <td> {{ softwareFor.isDesktopApplication }} </td>
            <td>

              
                <button (click) = "updateSoftwareDetailsById(softwareFor.softwareId)" class = "btn ubtn " style="margin-left: 10px;background-color:  #66e0ff;"><img src="assets/update.svg" alt="">   </button>
                <button (click) = "deleteSoftwareById(softwareFor.softwareId)" class = "btn dbtn " style="margin-left: 10px;background-color:  #ff3333;">  <img src="assets/trash-solid.svg" alt="">   </button>
                <button (click) = "softwareDetails(softwareFor.softwareId)" class = "btn vbtn " style="margin-left: 10px; background-color:   #ffffb3;">   <img src="assets/view.svg" alt=""> </button>
                <button (click) = "getUsersBySoftwareId(softwareFor.softwareId)" class = "btn vbtn " style="margin-left: 10px; background-color:   #afaff8;">   <img src="assets/user-solid.svg" alt=""> </button>
            </td>
            
        </tr>

        <td>
          <br>   <button (click) = "removeAllSoftwares()" class = "btn btn-danger alert-link" style="margin-left: 10px"> Clear All Softwares</button>
        </td>
    </tbody>
  
</table>

</div>

<br><br>
<div> <pagination-controls (pageChange)="pageNo = $event"></pagination-controls> </div>


<!--
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <div class="input-group-append">
        <ul class="dropdown-menu">
          <li><a id="01" class="dropdown-item" (click)="selectedSearchType = 'developer'">Software Developer Name</a></li>
          <li><a id="02" class="dropdown-item" (click)="selectedSearchType = 'name'">Software Name</a></li>
        </ul>
        <input *ngIf="selectedSearchType === 'developer' else rname" type="text" class="form-control" [(ngModel)]="developer" placeholder="Search by Developer Name" />
        <ng-template #rname>
          <input type="text" class="form-control" [(ngModel)]="softwareName" placeholder="Search" />
        </ng-template>
        <button class="btn btn-outline-primary" type="button" (click)="search(selectedSearchType)">Search</button>
      </div>
    </div>
  </div>
</div> -->