/* body{
    background-image: url("assets/lo.jpeg");
}
 
    
   */
h1{
    color: white;
}

/* .btnApp:hover{
    background-color: gray;
} */

button:hover {
    color: White;
  }

  .ubtn{
    width: 50px;
    height: 50px;
  }  
  .dbtn{
    width: 50px;
    height: 50px;
  }  
  .vbtn{
    width: 50px;
    height: 50px;
  }

  
  
  
  .pagination {
    display: inline-block;
    background-color: blue;
    color: rgb(245, 27, 27);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* .pagination{
   
  } */

  *{
    color: rgb(7, 7, 7);
  }

.name:hover{
background-color: blueviolet;
  }


  /* Dropdown styles */
/* Dropdown styles */

.dropdown {
  max-width: 13em;
  margin: 10px auto 0;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: #1d1f24;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
}

.dropdown:focus-within .dropdown-content li {
  left: 0;
}

.dropdown:focus-within .dropdown-content {
  visibility: visible;
}

.dropdown:focus-within .dropdown-btn > .arrow {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  color: #333;
/*   background: #cecece; */
}
.sort{
  background-color: rgb(8, 8, 8);
  color: #1d1f24;
}
a:hover{
  background-color: #d7e68a;
  color: #1d1f24;
}
/*
.dropdn{
  background-color: #1d1f24;
}
*/
.btnSearch{
  background-color: white;
  color: black;
}


/* Increase font size and padding for input fields */
.form-control {
  font-size: 15px;
  padding: 10px; /* Increase padding for larger input box */
}

/* Increase size of the input box itself */
.form-control,
.nav-link.dropdown-toggle {
  height: 50px; /* Adjust the height as needed */
  color: white;
  
}

/* Increase font size for dropdown items */
.dropdown-menu li a {
  font-size: 15px;
  padding: 10px 20px;
  color: white; 
}

/* Increase button size */
.btn-outline-primary {
  font-size: 15px;
  padding: 10px 20px;
  background-color: rgb(117, 117, 205); /* Apply the color to the button */
  color: white;

}








/* 

.dropdown1 {
  max-width: 10em;
  margin: 50px auto 0;
  position: relative;
  width: 100%;
}

.dropdown1-btn {
  background: #385fc2;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown1-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.dropdown1-content li {
  background: #e9c77e;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
}

.dropdown1-btn:focus + .dropdown-content li {
  left: 0;
}

.dropdown1-btn:focus + .dropdown-content {
  visibility: visible;
}

.dropdown1-btn:focus > .arrow {
  transform: rotate(180deg);
}

.dropdown1-content li:hover {
  background: #e6cbac;
}

.dropdown1-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
} */