<div class="container" style="text-align: center;">
    <h3> View Developer Details</h3>
    </div>
    
    <style>
        
        tr:hover {background-color:rgb(239, 239, 245)}
        table, th, td {
      border: 1px solid rgba(216, 141, 210, 0.603);
      border-collapse: collapse;
      font-size:large;
    }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          /* margin-left: auto; */
        }
        th, td {
          padding: 2px;
          text-align:left;
        }
        </style>
        
    
        <body>
            <div style="background-color: rgb(115, 226, 199);">
            <table style="width:100%">
                <tr>
                  <th>Developer Name: </th>
                  <td>{{developer.developerName}}</td>
                </tr>
                <tr>
                  <th>Developer Email:</th>
                  <td>{{developer.developerEmail}}</td>
                </tr>
                <tr>
                  <th>Developer Country :</th>
                  <td>{{developer.developerCountry}}</td>
                </tr>
                
                    
                  
              </table>
            </div>
        </body>