<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/a076d05399.js"></script> 

<div class="backntn">
   <a href="home" class="alert('BACK TO HOME')"><img src="/assets/backbtn6.png"></a>
 </div>
 





<div class="container">
    <div class="contact-parent">
       
       <div class="contact-child child2">
          <div class="inside-contact">
             <h2 style="  font-family: Cursive">Tell Us What You Think!</h2>
             <h3>
                <span id="confirm"></span>
             </h3>
             <p></p>
             <input id="txt_name" type="text"placeholder="Name" Required="required">
             <p></p>
             <input id="Email" type="text"placeholder="Email" Required="required">
             <p></p>
             <textarea id="txt_message" rows="4" cols="20"placeholder="Tell Us What You Think!" Required="required" ></textarea>
             <input type="submit"class="btn btn-primary" id="btn_send" (click)="showAlert()" value="SEND">
          </div>
       </div>
    </div>
 </div>
 