<div class="row">>
<div class="col-3">
<div class="backntn">
    <a href="software-list" class="alert('BACK TO HOME')"><img src="/assets/backbtn6.png"></a>
  </div>
</div> 
<div class="col-6">
    <h3 style="font-size: 50px;text-shadow: 5px 5px 5px rgb(133, 4, 4);color: aliceblue;"> Update Software </h3>
</div> 
</div>


<div class="col-md-8 offset-md-2 main">
    <form (ngSubmit) = "onSubmit()"style="background-color:rgba(0,0,0,0.5); margin: auto; padding: 50px;border: 5px solid gray;border-radius: 20px;">

        <div class="form-group">
            <label style="font-size: 25px;text-shadow: 2px 2px 5px rgb(245, 240, 240);"> Software Name</label><br>
            <input type="text" class ="form-control" id = "softwareName"
                [(ngModel)] = "software.softwareName" name = "softwareName">
        </div>
    <br>
        <div class="form-group">
            <label style="font-size: 25px;text-shadow: 2px 2px 5px rgb(245, 240, 240);"> Developer</label>
            <input type="text" class ="form-control" id = "developerName"
                [(ngModel)] = "software.developerName" name = "developerName">
        </div>
        <br>
        <div class="form-group">
            <label style="font-size: 25px;text-shadow: 2px 2px 5px rgb(245, 240, 240);"> Price</label>
            <input type="text" class ="form-control" id = "price"
                [(ngModel)] = "software.price" name = "price">
        </div>
        <br>


        <div class="form-group">
            <label style="font-size: 25px;text-shadow: 2px 2px 5px rgb(245, 240, 240);"> Rating</label>
            <input type="text" class ="form-control" id = "rating"
                [(ngModel)] = "software.rating" name = "rating">
        </div>
        <br>
    
        <label style="font-size: 20px;text-shadow: 2px 2px 5px rgb(245, 240, 240);">Types Of Software:</label><br />

        <div class="form-group">

        <input
          class="form-check-input"
          type="radio"
          name="isDesktopApplication"
          [(ngModel)]="software.isDesktopApplication"
          value="true"
        />
        <label class="form-check-label">DesktopApplication</label><br />


        <input
          class="form-check-input"
          type="radio"
          name="isWebApplication"
          [(ngModel)]="software.isDesktopApplication"
          value="false"
        />
        <label class="form-check-label">WebApplication</label><br />
    </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    </form>
    </div> 